<h1>Sign Up Page</h1>

<style>
    h5{color:red;}
</style>
{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<form method="POST" action="register">
    {% csrf_token %}
    <p>Username: </p>
    <input type="text" name="username" />
    <p>Email ID: </p>
    <input type="email" name="email id" />
    <p>Password: </p>
    <input type="password" name="password" />
    <p>Re-enter Password: </p>
    <input type="password" name="password2" /></br>

    <input type="submit" />
</form>

<a class="nav-link" href="login">Login</a>